<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                © 2020 YourCompany | By DesignBootstrap-More Templates
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER SECTION END-->